@use "src/utils/styles/mediaQuery" as media;

.back-button {
  margin-top: 30px;
  margin-left: 15px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    align-items: flex-start;
  }
}

.section {
  width: 368px;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 163px;

  @include media.media-breakpoint-down(mobile) {
    width: 78%;
    height: 79vh;
    margin-bottom: 60px;
    overflow-y: scroll;
    scrollbar-width: none; /* 파이어폭스 */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__steps {
    width: calc(100% + 2px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media.media-breakpoint-down(mobile) {
      height: auto;
      width: 100%;
    }
  }

  &__logo {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 88px;
    background-color: #ffffff;
    z-index: 2;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__name {
    display: none;

    @include media.media-breakpoint-down(mobile) {
      display: block;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 36px;
      font-weight: 500;
    }
  }
}
