.term {
  margin-bottom: 40px;

  &__title {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__content {
    height: calc(160px - 32px);
    border: 1px solid #d2dae2;
    overflow-y: scroll;
    padding: 16px;
    margin-bottom: 18px;
  }

  &__agree {
    display: flex;
    align-items: center;

    &__checkbox {
      appearance: none;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 1px solid #d2dae2;
      border-radius: 100%;
      background-size: cover;

      &:checked {
        border: none;
        background-image: url("../../../assets/svg/auth/checkbox.svg");
      }
    }
  }
}
