.form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  &__img {
    display: flex;
    flex-direction: column;
    border: 1px solid #858585;
    align-items: center;
    padding: 57px 60px 54px;
    margin-bottom: 32px;

    div {
      margin-top: 13px;
      font-weight: 500;
      font-size: 14px;
      color: #858585;
    }
  }

  &__image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 200px;
    border: 1px solid #858585;
    margin-bottom: 19px;

    &--error {
      margin-bottom: 0;
    }
  }

  &__image-error-message {
    margin-bottom: 11px;
  }

  &__error-message {
    margin-bottom: 4px;
  }

  &__upload-file {
    display: none;
  }

  &__main-menu {
    display: flex;
    overflow-y: hidden;
    flex-direction: row;
    white-space: nowrap;
    max-width: 295px;
    max-height: 200px;
  }

  &__main-menu-image {
    object-fit: contain;
    max-width: 295px;
    height: 200px;
  }

  &__delete-img-button {
    position: relative;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7941e;
    border-radius: 50%;
    height: 24px;

    svg {
      width: 24px;
      height: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    margin-top: 8px;
    font-size: 14px;
    color: #cacaca;

    &--recommend {
      color: #f7941e;
      font-size: 14px;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: #175c8e;

    &--error {
      margin-bottom: 2px;
    }
  }

  &__input {
    border: 0.5px solid #898a8d;
    width: 205px;
    height: 21px;
    font-size: 14px;
    padding: 7px 12px;
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 8px 40px;
      background-color: #175c8e;
      font-weight: 500;
      font-size: 15px;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cancel {
    display: flex;
    width: 30%;
    height: 44px;
    padding: 4px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #cacaca;
    background-color: #fff;
    cursor: pointer;
    color: #cacaca;
  }

  &__next {
    display: flex;
    width: 60%;
    height: 44px;
    padding: 4px 32px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #175c8e;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    border: none;

    &--disable {
      background-color: #cacaca;
    }
  }
}
