@use "src/utils/styles/mediaQuery" as media;

.term {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  @include media.media-breakpoint-down(mobile) {
    margin: 0;
  }

  &__title {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__content {
    height: calc(160px - 32px);
    border: 1px solid #d2dae2;
    overflow-y: scroll;
    padding: 16px;
    margin-bottom: 18px;

    @include media.media-breakpoint-down(mobile) {
      border: 1px dashed #d2dae2;
      margin-top: 7px;
      margin-bottom: 19px;
      font-size: 10px;
    }
  }

  &__agree {
    display: flex;
    align-items: center;
    color: #a1a1a1;

    @include media.media-breakpoint-down(mobile) {
      order: -1;
    }

    &__checkbox {
      appearance: none;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 1px solid #d2dae2;
      border-radius: 100%;
      background-size: cover;

      &:checked {
        border: none;
        background-image: url("../../../../../assets/svg/auth/check.svg");
      }
    }

    &__phrase--pc {
      @include media.media-breakpoint-down(mobile) {
        display: none;
      }
    }

    &__phrase--mobile {
      display: none;

      @include media.media-breakpoint-down(mobile) {
        display: inline;
      }
    }
  }
}
