.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #d2dae2;
  border-radius: 100%;
  background-size: cover;

  &:checked {
    border: none;
    background-image: url("../../../assets/svg/auth/checkbox.svg");
  }
}
