.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
