.header {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 36px;

  &__caption {
    color: #175c8e;
    font-size: 24px;
    font-weight: 500;
  }

  &__condition {
    color: #a1a1a1;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
  }
}

.new-image {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    padding: 40px;
    width: 266px;
    height: 613px;
    border: 0.5px solid var(--stroke, #858585);
    background: #fff;
  }

  &__add-btn {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 176px;
    border: 1px dashed #858585;

    &:hover {
      cursor: pointer;
    }
  }

  &__add-caption {
    color: #a1a1a1;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
}

.plusIcon {
  width: 40px;
  height: 40px;
}

.mobile {
  &__container {
    width: 100%;
    margin-top: 16px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;

    &__caption {
      color: #175c8e;
      font-size: 15px;
      font-weight: 500;
    }

    &__condition {
      color: #a1a1a1;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
    }
  }

  &__new-image {
    display: flex;
    align-items: center;

    &__container {
      display: flex;
      overflow-x: auto;
      margin-top: 16px;
      gap: 16px;
      white-space: nowrap;
      align-items: center;
      height: 155px;
    }

    &__add-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 137px;
      height: 137px;
      flex-shrink: 0;
      border: 0.5px solid #a1a1a1;
      background-color: white;

      &:hover {
        cursor: pointer;
      }
    }

    &__plusIcon {
      width: 26px;
      height: 27px;
    }

    &__add-caption {
      color: #a1a1a1;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 137px;
      height: 137px;
    }

    &__selected-image {
      width: 137px;
      height: 137px;
    }
  }

  &__delete-img-button {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7941e;
    width: 16.765px;
    height: 16.765px;
    border-radius: 50%;
  }
}
