@use "src/utils/styles/mediaQuery" as media;

.default-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.phone-number__input {
  width: 66.67% !important;

  &::placeholder {
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
  }
}

.verification-code__input {
  width: 66.67% !important;
}

.verification-code__button {
  &--active {
    background-color: #175c8e !important;
    color: white !important;
  }

  &--error {
    background-color: #f7941e !important;
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inquiry {
  display: flex;
  justify-content: space-between;

  &__quote {
    color: #727272;
  }

  &__link {
    color: #175c8e;
    text-decoration: none;
  }
}

.wrapper {
  position: relative;
}

.login-link {
  color: #175c8e;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  height: calc(94vh - 120px);
}

.background {
  background: none;
}