.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__input {
    width: calc(100% - 32px);
    border: 1px solid #d2dae2;
    padding: 13px 16px;

    &__registration--number {
      display: flex;
      align-items: center;

      &__first {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(88px - 32px);
        padding: 10px 16px;
      }

      &__middle {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(72px - 52px);
        padding: 10px 26px;
      }

      &__last {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(144px - 94px);
        padding: 10px 47px;
      }

      &::after {
        display: block;
        content: "";
        width: 16px;
        height: 0;
        border: 1px solid black;
        margin: 6px;
      }
    }
  }
}

.input--wrapper {
  display: flex;
  align-items: center;
}

.file--box {
  width: calc(368px - 62px);
  height: calc(218px - 85px);
  border: 1px dashed #d2dae2;
  padding: 45px 31px 40px;

  &__command {
    text-align: center;
    font-size: 14px;
    display: block;
    margin-top: 21px;
  }

  &__information {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    display: block;
    color: #858585;
  }

  &__plus--box--image {
    width: 26px;
    height: 26px;
    border: 1px solid #f7941e;
    border-radius: 13%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      display: block;
      content: "";
      width: 12px;
      height: 0;
      border-top: 1px solid #f7941e;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      height: 12px;
      border-left: 1px solid #f7941e;
    }
  }
}

.button--wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: end;

  &__upload--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    border: 1px solid #d2dae2;

    &:hover {
      cursor: pointer;
    }

    input {
      display: none;
    }
  }
}
