.page_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.owner_input {
  width: calc(100% - 32px);
  border: 1px solid #d2dae2;
  padding: 13px 16px;
}

.input_wrapper {
  display: flex;
  align-items: center;

  .owner_input {
    font-size: 18px;
    text-align: center;
    width: calc(144px - 94px);
    padding: 10px 47px;
  }

  .test {
    display: flex;
    align-items: center;

    &:first-child {
      .owner_input {
        font-size: 18px;
        display: block;
        text-align: center;
        width: calc(88px - 58px);
        padding: 10px 28px;
      }
    }

    &:nth-child(2) {
      .owner_input {
        font-size: 18px;
        text-align: center;
        width: calc(72px - 52px);
        padding: 10px 25px;
      }
    }

    &::after {
      display: block;
      content: "";
      width: 16px;
      border-top: 1px solid black;
      margin: 0 8px;
    }
  }
}

.file_box {
  width: calc(368px - 62px);
  height: calc(218px - 85px);
  border: 1px dashed #d2dae2;
  padding: 45px 31px 40px;
}

.plus_button {
  width: 26px;
  height: 26px;
  border: 1px solid #f7941e;
  border-radius: 13%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    display: block;
    content: "";
    width: 12px;
    height: 0;
    border-top: 1px solid #f7941e;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 12px;
    border-left: 1px solid #f7941e;
  }
}

.help {
  text-align: center;
  font-size: 14px;
  display: block;
  margin-top: 21px;
}

.information {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  display: block;
  color: #858585;
}

.button_wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: end;

  .upload_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    border: 1px solid #d2dae2;

    &:hover {
      cursor: pointer;
    }

    input {
      display: none;
    }
  }
}
