.eventContainer {
  padding: 5px 24px;
}

.manage-event-button-container {
  padding: 16px 0 18px 0;
  display: flex;
  gap: 9px;
}

.manage-event-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;
  width: 100%;
  border-radius: 5px;
  background-color: #F5F5F5;
  color: #4B4B4B;
  font-size: 14px;

  &:hover {
    background-color: #CACACA;
  }
}

.edit-menubar{
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  padding: 11px 15px;
  border-bottom: 1px solid  #EEE;
}

.select-all-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: #FAFAFA;
  color: #8E8E8E;
  font-size: 12px;
}

.edit-menubar--button {
  display: flex;
  gap: 16px;
}

.edit-menubar--button button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 6px 8px;
  border-radius: 5px;
  background: #FAFAFA;
  color:  #8E8E8E;
  font-size: 14px;

  &:hover {
    background: #EEE;
  }
}