@use "src/utils/styles/mediaQuery" as media;

.template {
  min-height: 100vh;
  position: relative;
}

.copyright {
  font-size: 12px;
  text-align: center;
  margin-bottom: 7vh;
  font-weight: 400;
  color: #252525;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @include media.media-breakpoint-down(mobile) {
    margin-bottom: 24px;
  }
}
