.place {
  &__container {
    display: flex;
    height: 45px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: -10px;
  }

  &__button {
    flex-grow: 1;
    height: 35px;
    color: #8e8e8e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1.5px solid #e1e1e1;
  }

  &__button--selected {
    flex-grow: 1;
    height: 35px;
    color: #175c8e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1.5px solid #10477a;
  }
}
