.place {
  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
  }

  &__button {
    width: 60px;
    height: 33px;
    background-color: #fff;
    color: #175c8e;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #175c8e;
    border-radius: 999px;
    cursor: pointer;
  }

  &__button--selected {
    width: 60px;
    height: 33px;
    background-color: #175c8e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    cursor: pointer;
  }
}
