@use "src/utils/styles/mediaQuery" as media;

.term-section {
  &__checkbox {
    appearance: none;
    width: 21px;
    height: 20px;
    margin-right: 10;
    border: 1px solid #d2dae2;
    border-radius: 100%;
    background-size: cover;

    &:checked {
      border: none;
      background-image: url("../../../../../assets/svg/auth/checkbox.svg");
    }
  }
}

.agree--all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;

  @include media.media-breakpoint-down(mobile) {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #f7941e;
    margin-bottom: 18px;
  }

  &::after {
    display: block;
    width: 100%;
    content: "";
    border-top: 1px solid #eeeeee;
    margin-top: 24px;

    @include media.media-breakpoint-down(mobile) {
      margin-top: 18px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }
}
