.template {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 220px;
  padding-bottom: 120px;
  flex-direction: column;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 8px solid #f7941e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-style: normal;
  line-height: normal;

  &__title {
    margin-top: 70px;
    color: #175c8e;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  &__description {
    margin-top: 20px;
    color: #858585;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  &__button {
    margin-top: 80px;
    width: 368px;
    height: 48px;
    background-color: #175c8e;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
  }
}
