.template{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top:220px;
  padding-bottom:120px;
  flex-direction: column;
}
.circle{
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 8px solid #F7941E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  font-family: Noto Sans CJK KR;
  font-style: normal;
  line-height: normal;

  &__title{
    margin-top: 70px;
    color: #175C8E;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  &__description{
    margin-top: 20px;
    color: #858585;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  &__button{
    margin-top: 80px;
    width: 368px;
    height: 48px;
    background-color: #175C8E;
    color: white;
    font-family: Noto Sans CJK KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
  }
}

