.form {
  &__label {
    display: block;
    font-size: 18px;
  }

  &__input--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 8px;
  }

  &__input {
    width: calc(100% - 32px);
    border: 1px solid #d2dae2;
    height: calc(48px - 30px);
    padding: 14px 16px;
  }

  &__alert {
    display: block;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    color: #f7941e;
    font-size: 11px;
  }
}
