.form {
  &__label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 8px;
  }

  &__input {
    width: calc(368px - 32px);
    border: 1px solid #d2dae2;
    height: calc(48px - 26px);
    padding: 13px 16px;

    &:focus {
      border-bottom: 1px solid black;
    }
  }
}
