.mobile {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  &__button {
    background-color: transparent;
  }
}

.content {
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    align-items: center;
    background-color: #f6f8f9;
    color: #a1a1a1;
    padding-left: 21px;
    font-size: 13px;
    height: 35px;
  }
}

.table {
  margin-top: 25px;
  line-height: 35px;

  th {
    font-size: 18px;
    font-weight: 400;
  }

  &__data {
    text-align: center;
  }

  &__checkbox {
    appearance: none;
    border: 1px solid #175c8e;
    width: 18px;
    height: 18px;
    cursor: pointer;

    &:checked {
      background-color: #175c8e;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-right: 13px;

    button {
      padding: 8px 40px;
      background-color: #175c8e;
      font-weight: 500;
      font-size: 15px;
      color: #ffffff;
    }
  }
}
