.section {
  width: 1131px;
  margin: 63px auto 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  border-bottom: 2px solid #175c8e;

  &__title {
    height: 47px;
    font-size: 36px;
    font-weight: 500;
    color: #175c8e;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__updateBtn {
    width: 112px;
    height: 48px;
    border: 1px solid #175c8e;
    font-size: 18px;
    font-weight: 400;
    color: #175c8e;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__addBtn {
    width: 112px;
    height: 48px;
    border: 1px solid #175c8e;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #175c8e;

    &:hover {
      cursor: pointer;
    }
  }
}

.store {
  display: flex;
  height: 305px;
  border-bottom: 1px solid #d2dae2;

  &__info {
    position: relative;
    width: 537px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    align-items: center;
    color: #252525;
    margin-right: 8px;
  }

  &__keywords {
    margin-left: 8px;
    box-sizing: border-box;
    width: 75px;
    height: 24px;
    border: 1px solid #175c8e;
    border-radius: 13.5px;
    color: #175c8e;
    font-weight: 500;
    font-size: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__detailData {
    display: flex;
    flex-direction: column;
  }

  &__detailDatas {
    height: 27px;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 16px;
    color: #858585;
  }

  &__updateBtn {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 43px;
    bottom: 24px;
    right: 0;
    background: #f7941e;
    border-radius: 24px;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    color: #ffffff;
  }

  &__imgs {
    display: flex;
  }

  &__mainimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 437.61px;
    height: 288.02px;
  }

  &__subimgs {
    display: flex;
    flex-direction: column;
    width: 176px;
    justify-content: center;
    align-items: center;
  }

  &__subimg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 144px;
  }

  &__subimg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 144px;
  }
}

.menu {
  &__titlepart {
    display: flex;
    position: relative;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 10px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #175c8e;
  }

  &__icon {
    position: absolute;
    left: 110px;
    top: 26px;
    margin-left: 8px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  &__item {
    box-sizing: border-box;
    width: 368px;
    height: 301px;
    border: 1px solid #d2dae2;
  }
}

.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 810px;
  height: 715px;
  background-color: rgb(255 255 255);

  &__Header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #175c8e;
  }

  &__Title {
    margin-left: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  &__new-setting {
    display: flex;
    font-size: 20px;
  }

  &__imgs-setting {
    width: 338px;
  }

  &__settingtitle {
    display: flex;
    height: 27px;
    margin-left: 40px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    color: #175c8e;
  }

  &__caption {
    display: flex;
    height: 27px;
    margin-top: 25px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    align-items: center;
    justify-content: center;
    color: #a1a1a1;
  }

  &__addimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 170px;
    margin-top: 32px;
    margin-left: 40px;
    border: 1px dashed #858585;
  }

  &__addimg-icon {
    width: 70px;
    height: 70px;
  }

  &__addimg-caption {
    display: flex;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #a1a1a1;
  }

  &__blocks {
    border-left: solid 1px #858585;
    margin-top: 40px;
    height: 520px;
  }

  &__captiontitle {
    display: flex;
    justify-items: center;
  }

  &__info-setting {
    width: 472px;
  }

  &__menu-input {
    height: 27px;
    width: 390px;
    margin-top: 8px;
    margin-left: 40px;
    outline: none;
    border: 0.5px solid #898a8d;

    &::placeholder {
      font-size: 13px;
      font-weight: 400;
      color: #898a8d;
    }
  }

  &__size-wapper {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  }

  &__info {
    display: flex;
    width: 431px;
    align-items: center;
    margin-top: 8px;
  }

  &__size-input {
    display: block;
    margin-left: 40px;
    height: 27px;
    width: 175px;
    margin-right: 8px;
    outline: none;
    border: 0.5px solid #898a8d;

    &::placeholder {
      font-size: 13px;
      font-weight: 400;
      color: #898a8d;
    }
  }

  &__price-input {
    display: block;
    height: 27px;
    width: 175px;
    text-align: right;
    outline: none;
    border: 0.5px solid #898a8d;

    &::placeholder {
      font-size: 13px;
      font-weight: 400;
      color: #898a8d;
    }
  }

  &__singlemenu {
    display: flex;
    margin-top: 25px;
    margin-left: 280px;
    align-items: center;
  }

  &__singlemenu-word {
    width: 55px;
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #a1a1a1;
  }

  &__singlemenu-icon {
    margin-left: 8px;
  }

  &__cancle-icon {
    margin-left: 15px;
  }

  &__addPrice {
    display: flex;
    justify-items: center;
  }

  &__addPrice-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-left: 40px;
  }

  &__addPrice-word {
    display: flex;
    margin-top: 12px;
    margin-left: 8px;
    width: 63px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #f7941e;
  }

  &__gear-icon {
    margin-top: 28px;
    margin-left: 190px;
  }

  &__menuWapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    margin-top: 8px;
    gap: 8px;
  }

  &__menucategory {
    display: flex;
    border: 0.5px solid #898a8d;
    width: 190px;
    height: 39px;
    font-weight: 500;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }

  &__combo-input {
    width: 390px;
    height: 105px;
    margin: 0 40px;
    margin-top: 10px;
    border: 0.5px solid #898a8d;
    outline: none;
    resize: none;

    &::placeholder {
      font-size: 13px;
      font-weight: 400;
      color: #898a8d;
    }
  }

  &__sumitBtn {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    margin-right: 40px;
    margin-top: 20px;
  }

  &__sumitBtn-delete {
    width: 114px;
    height: 51px;
    background: #858585;
    border: none;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;

    &:hover {
      cursor: pointer;
    }
  }

  &__sumitBtn-submit {
    width: 114px;
    height: 51px;
    background: #175c8e;
    border: none;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;

    &:hover {
      cursor: pointer;
    }
  }
}
