.template {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 220px;
  padding-bottom: 120px;
  flex-direction: column;
}

.logo {
  margin: auto;
}

.cursor_pointer {
  cursor: pointer;
}

.form {
  width: 368px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    width: 368px;
    height: 48px;
    padding: 14px 16px;
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    outline: none;
    border: none;
  }

  &__label {
    color: #252525;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__tip {
    color: #d2dae2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__submit {
    width: 368px;
    height: 48px;
    color: white;
    background: #c4c4c4;
    cursor: pointer;
    margin-top: 250px;
    box-sizing: border-box;
  }
}

.input_container {
  display: flex;
  align-items: center;
  border: 1px solid #d2dae2;
  padding-right: 16px;
}
