.template{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top:220px;
  padding-bottom:120px;
  flex-direction: column;
}
.logo{
  margin:auto;
}

.form {
width: 368px;
margin-top: 48px;
display: flex;
flex-direction: column;
gap: 16px;

&__input{
  width: 368px;
  height: 48px;
  padding: 14px 16px;
  border: 1px solid #d2dae2;
  color: #222;
  font-family: Noto Sans CJK KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  border: none;
  outline: none;
}

&__label {
  color: #252525;
  font-family: Noto Sans CJK KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
}

.input_container{
  display:flex;
  align-items: center;
  border: 1px solid #d2dae2;
  padding-right: 16px;
}

.submit{
width: 368px;
height: 48px;
color: white;
background: #C4C4C4;
cursor: pointer;
margin-top: 250px;
box-sizing: border-box;
}

.password_tip{
color: #D2DAE2;
font-family: Noto Sans CJK KR;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}