.previous {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 42px;

  &__button {
    background-color: transparent;
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }

  &__title {
    width: calc(100% - 28px);
    text-align: center;
  }
}
