.sub {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  font-weight: 500;

  &__title {
    font-size: 24px;
  }

  &__text {
    margin: 30px 0;
    font-size: 18px;
    line-height: 27px;
  }
}
