.label {
  display: block;
  font-size: 18px;
}

.input_wrapper {
  width: 100%;
  margin-top: 8px;
  position: relative;

  .visible_button {
    position: absolute;
    top: 15px;
    right: 18px;
    width: 20px;
    height: 19px;
    background-size: cover;
    background-image: url("../../../assets/svg/auth/visible.svg");

    &:hover {
      cursor: pointer;
    }
  }

  &:last-child {
    margin-top: 16px;
  }
}

.password_input {
  width: calc(100% - 32px - 29px);
  border: 1px solid #d2dae2;
  height: calc(48px - 30px);
  padding: 14px 45px 14px 16px;
}

.alert {
  display: block;
  margin-top: 8px;
  margin-left: 8px;
  color: #858585;
  font-size: 12px;
}
