@use "src/utils/styles/mediaQuery" as media;

.form {
  &__label {
    display: block;
    font-size: 18px;
  }

  &__input--wrapper {
    width: calc(100% - 2px);
    margin-top: 8px;
    position: relative;

    &:last-child {
      margin-top: 16px;
    }

    @include media.media-breakpoint-down(mobile) {
      margin-top: 0;

      &:last-child {
        margin-top: 14px;
      }
    }
  }

  &__warn {
    display: flex;
    align-items: center;
    margin-top: 9px;
    gap: 7px;

    &--phrase {
      display: block;
      color: #f05d3d;
      font-size: 11px;
    }
  }

  &__visible--button {
    position: absolute;
    top: 15px;
    right: 18px;
    width: 20px;
    height: 19px;
    background-size: cover;
    background-image: url("../../../../../assets/svg/auth/visible.svg");

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    width: calc(100% - 32px - 29px);
    border: 1px solid #d2dae2;
    height: calc(48px - 30px);
    padding: 14px 45px 14px 16px;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      outline: none;
      border: none;
      padding: 0;
      padding-bottom: 8px;
      border-bottom: 1px solid #d2dae2;
      font-size: 15px;

      &:focus {
        border-bottom: 1px solid #252525;
      }
    }
  }

  &__alert {
    display: block;
    margin-top: 8px;
    margin-left: 8px;
    color: #858585;
    font-size: 12px;

    @include media.media-breakpoint-down(mobile) {
      font-size: 11px;
      margin: 4px 0 0;
    }
  }
}
