@use "src/utils/styles/mediaQuery" as media;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.owner-info-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 1px;
  box-sizing: border-box;
}

.owner-info-container input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background: #f5f5f5;
  padding: 12px 16px;
  border: none;
  margin-top: 8px;
  margin-bottom: 2px;

  &:focus {
    outline: 1px solid #4590bb;
  }

  &:hover {
    cursor: pointer;
  }
}

.owner-info-container button {
  &:hover {
    cursor: pointer;
  }
}

.owner-info-container span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding-left: 5px;
  padding-bottom: 8px;
}

.document-input {
  position: relative;
  display: flex;
  flex-direction: column;

  &__condition {
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }
}

.shop-name {
  &__input {
    width: 72% !important;
  }
}

.owner-file-input {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    height: 46px;
    width: 100%;
    border-radius: 5px;
    background: #cacaca;
    color: #4b4b4b;
    z-index: 2;
  }
}

.file-list {
  border-radius: 5px;
  background: #f5f5f5;
  max-height: 178px;
  padding: 10px;
  width: 94%;
  margin-top: 10px;
}

.file-card {
  display: flex;
  gap: 11px;
}

.file-name {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
}

.delete-button {
  background-color: #f5f5f5;
}

.error-message {
  display: flex;
  align-items: center;
  color: #f7941e;
  font-size: 12px;
}
