@use "src/utils/styles/mediaQuery" as media;

.container {
  width: 1131px;
  margin: 0 auto;
}

.mobile-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 2px solid #175c8e;

  &__title {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 25px;
    font-weight: 500;
    color: #175c8e;
    font-family: "Noto Sans CJK KR", sans-serif;
  }

  &__btn-add {
    width: 75px;
    height: 38px;
    border: 1px solid #175c8e;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #175c8e;
    font-family: "Noto Sans CJK KR", sans-serif;

    &:hover {
      cursor: pointer;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  height: 117px;
  border-bottom: 2px solid #175c8e;

  &__title {
    margin-right: auto;
    height: 47px;
    font-size: 36px;
    font-weight: 500;
    color: #175c8e;
    font-family: "Noto Sans CJK KR", sans-serif;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__btn-add {
    width: 112px;
    height: 48px;
    border: 1px solid #175c8e;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #175c8e;
    font-family: "Noto Sans CJK KR", sans-serif;

    &:hover {
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
}

.tap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1.5px solid #eee;

  &__type {
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
    padding: 10px 0;
    color: #8e8e8e;
    cursor: pointer;

    &--active {
      color: #175c8e;
      border-bottom: 1.5px solid #175c8e;
    }

    @include media.media-breakpoint-down(mobile) {
      font-size: 16px;
    }
  }
}

.edit-wrapper {
  padding: 10px 20px;
  border-bottom: 1.5px solid #eee;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}