.owner-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.owner-info-container input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background: #f5f5f5;
  padding: 12px 16px;
  border: none;

  &:focus {
    outline: 1px solid #4590bb;
  }
}

.owner-info-container span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
