.toggle-button {
  width: 46px;
  height: 23px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;

  .background,
  .circle {
    rx: 9.5;
    stroke-width: 3;
    transition: fill 0.3s ease-in-out;
  }
}
