.toggle-button {
  width: 46px;
  height: 23px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;

  .background,
  .circle {
    rx: 9.5;
    stroke-width: 3;
  }
}
