@use "src/utils/styles/mediaQuery" as media;

.form {
  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 16px;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__input {
    width: calc(100% - 34px);
    border: 1px solid #d2dae2;
    padding: 13px 16px;
    height: 22px;
    font-size: 14px;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #d2dae2;
      color: #d2dae2;
      padding: 0;
      font-size: 15px;
      padding-bottom: 8px;
      margin-top: 24px;

      &::placeholder {
        color: #d2dae2;
      }

      &:focus {
        border-bottom: 1px solid #252525;
        color: #252525;
      }

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    &__registration-number {
      display: flex;
      align-items: center;

      &--first {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(88px - 34px);
        padding: 10px 16px;
        height: 22px;
      }

      &--middle {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(72px - 52px);
        padding: 10px 26px;
        height: 22px;
      }

      &--last {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(144px - 94px);
        padding: 10px 47px;
        height: 22px;
      }

      &::after {
        display: block;
        content: "";
        width: 16px;
        height: 0;
        border: 1px solid black;
        margin: 6px;
      }
    }

    &__phone-number {
      display: flex;
      align-items: center;

      &--first {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(88px - 34px);
        padding: 10px 16px;
        height: 22px;
      }

      &--middle {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: 108px;
        padding: 10px 0;
        height: 22px;
      }

      &--last {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: 108px;
        padding: 10px 0;
        height: 22px;
      }

      &::after {
        display: block;
        content: "";
        width: 16px;
        height: 0;
        border: 1px solid black;
        margin: 6px;
      }
    }
  }
}

.input {
  display: flex;
  align-items: center;

  &__shop-name {
    &--wrapper {
      display: flex;
      align-items: end;
    }

    width: calc(272px - 34px);
    font-size: 14px;
    border: 1px solid #d2dae2;
    padding: 13px 16px;
    margin-right: 16px;
    height: 22px;

    @include media.media-breakpoint-down(mobile) {
      width: 77%;
      outline: none;
      border: none;
      border-bottom: 1px solid #d2dae2;
      color: #d2dae2;
      padding: 0;
      font-size: 15px;
      padding-bottom: 8px;
      margin-top: 24px;

      &::placeholder {
        color: #d2dae2;
      }

      &:focus {
        border-bottom: 1px solid #252525;
        color: #252525;
      }
    }
  }
}

.file-box {
  display: block;
  width: calc(368px - 50px);
  height: calc(218px - 48px);
  border: 1px dashed #d2dae2;
  padding: 24px;
  overflow-y: scroll;
  z-index: 999;

  &:hover {
    border: 1px dashed #252525;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__input {
    display: none;
  }

  &.active {
    background-color: #efeef3;
    border: 1px dashed #252525;
  }

  @include media.media-breakpoint-down(mobile) {
    width: calc(100% - 78px);
    min-height: 70%;
    padding: 26px 38px 32px;
    margin-top: 16px;
  }

  &__files {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__file {
    all: unset;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: start;

    &--name {
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 15px;
      color: #858585;
    }
  }

  &__command {
    text-align: center;
    font-size: 14px;
    display: block;
    margin-top: 21px;
    pointer-events: none;

    @include media.media-breakpoint-down(mobile) {
      font-size: 12px;
      margin-top: 5px;
    }
  }

  &__information {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    display: block;
    color: #858585;
    pointer-events: none;

    @include media.media-breakpoint-down(mobile) {
      margin: 0;
      font-size: 11px;
    }
  }

  &__plus-box-image {
    width: 26px;
    height: 26px;
    border: 1px solid #f7941e;
    border-radius: 13%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;

    @include media.media-breakpoint-down(mobile) {
      width: 18px;
      height: 19px;
    }

    &::after {
      display: block;
      content: "";
      width: 12px;
      height: 0;
      border-top: 1px solid #f7941e;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      height: 12px;
      border-left: 1px solid #f7941e;
    }
  }
}

.button {
  margin-top: 16px;
  display: flex;
  justify-content: end;

  &--upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    border: 1px solid #d2dae2;

    &:hover {
      cursor: pointer;
    }

    input {
      display: none;
    }
  }
}

.buttons {
  margin-top: 35px;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__mobile-button {
    @include media.media-breakpoint-down(mobile) {
      text-decoration: none;
      width: 48%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7941e;
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
    }
  }
}