@use "src/utils/styles/mediaQuery" as media;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media.media-breakpoint-down(mobile) {
    gap: 24px;
  }

  &__label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__input {
    width: calc(100% - 34px);
    border: 1px solid #d2dae2;
    padding: 13px 16px;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #d2dae2;
      color: #d2dae2;
      padding: 0;
      font-size: 15px;
      padding-bottom: 8px;

      &::placeholder {
        color: #d2dae2;
      }

      &:focus {
        border-bottom: 1px solid #252525;
        color: #252525;
      }
    }

    &__registration-number {
      display: flex;
      align-items: center;

      &--first {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(88px - 34px);
        padding: 10px 16px;
      }

      &--middle {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(72px - 52px);
        padding: 10px 26px;
      }

      &--last {
        border: 1px solid #d2dae2;
        font-size: 18px;
        text-align: center;
        width: calc(144px - 94px);
        padding: 10px 47px;
      }

      &::after {
        display: block;
        content: "";
        width: 16px;
        height: 0;
        border: 1px solid black;
        margin: 6px;
      }
    }
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.file-box {
  width: calc(368px - 64px);
  height: calc(218px - 85px);
  border: 1px dashed #d2dae2;
  padding: 45px 31px 40px;

  @include media.media-breakpoint-down(mobile) {
    width: calc(100% - 78px);
    height: calc(125px - 68px);
    padding: 36px 38px 32px;
  }

  &__command {
    text-align: center;
    font-size: 14px;
    display: block;
    margin-top: 21px;

    @include media.media-breakpoint-down(mobile) {
      font-size: 12px;
      margin-top: 5px;
    }
  }

  &__information {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    display: block;
    color: #858585;

    @include media.media-breakpoint-down(mobile) {
      margin: 0;
      font-size: 11px;
    }
  }

  &__plus-box-image {
    width: 26px;
    height: 26px;
    border: 1px solid #f7941e;
    border-radius: 13%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include media.media-breakpoint-down(mobile) {
      width: 18px;
      height: 19px;
    }

    &::after {
      display: block;
      content: "";
      width: 12px;
      height: 0;
      border-top: 1px solid #f7941e;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      height: 12px;
      border-left: 1px solid #f7941e;
    }
  }
}

.button-wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: end;

  &__upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    border: 1px solid #d2dae2;

    &:hover {
      cursor: pointer;
    }

    input {
      display: none;
    }
  }
}

.buttons {
  @include media.media-breakpoint-down(mobile) {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
  }

  &__mobile-button {
    @include media.media-breakpoint-down(mobile) {
      text-decoration: none;
      width: 48%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7941e;
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
    }
  }
}
