.container {
  position: fixed;
  bottom: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 20px 16px;
  border-radius: 5px;
  background-color: rgb(4 26 68 / 80%);
  backdrop-filter: blur(2px);
}

.content {
  color: #fff;
  font-size: 14px;
}

.check-button {
  color: #f7941e;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
}
