/* stylelint-disable no-descending-specificity */
/* stylelint-disable declaration-colon-newline-after */
@use "src/utils/styles/mediaQuery" as media;

.header {
  height: 80px;
  font-size: 12px;
  font-weight: 700;
  background: #175c8e;
  color: #fff;
  display: block;

  @include media.media-breakpoint-down(mobile) {
    height: 77px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 34%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    border-bottom: none;
  }

  &__content {
    width: 1132px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include media.media-breakpoint-down(mobile) {
      width: auto;
    }
  }
}

.add-menu-header {
  position: fixed;
  top: 0;
  background-color: #175c8e;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__prev-button {
    position: absolute;
    left: 16px;
    width: 24px;
    height: 25.944px;
    flex-shrink: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    svg path {
      fill: white;
    }
  }

  &__caption {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
}

@keyframes slide-left-enter {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
