/* stylelint-disable property-no-vendor-prefix */
@use "src/utils/styles/mediaQuery" as media;

.template {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 120px;

  @include media.media-breakpoint-down(mobile) {
    padding: 160px 0 170px;
  }
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    width: 305px;
  }
}

.logo {
  margin: auto;

  @include media.media-breakpoint-down(mobile) {
    margin-left: 0;
  }
}

.form {
  width: 368px;
  height: 360px;
  margin-top: 47px;
  display: flex;
  flex-direction: column;

  @include media.media-breakpoint-down(mobile) {
    width: 295px;
    height: 297px;
    margin-top: 80px;
  }

  &__container {
    margin-top: 16px;
    position: relative;
    width: inherit;

    @include media.media-breakpoint-down(mobile) {
      margin-top: 24px;
    }
  }

  &__input {
    width: 340px;
    height: 20px;
    padding: 14px;
    border: 1px solid #d2dae2;

    @include media.media-breakpoint-down(mobile) {
      width: 295px;
      height: 22px;
      border: none;
      border-bottom: 1px solid #d2dae2;
      padding: 0 0 8px;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset; // 자동입력 배경 제거
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #999999;

      @include media.media-breakpoint-down(mobile) {
        font-size: 15px;
        color: #d2dae2;
      }
    }
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 12px;
    border: none;
    background: none;
    padding: 0;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__button {
    height: 48px;
    background-color: #175c8e;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border: none;

    @include media.media-breakpoint-down(mobile) {
      height: 44px;
      margin-top: 16px;
    }

    &--mobile {
      @include media.media-breakpoint-down(mobile) {
        background: #f7941e;
        margin-top: 48px;
      }
    }
  }
}

.auto-login {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0 16px;

  @include media.media-breakpoint-down(mobile) {
    display: none;
  }

  &__text {
    font-family: NotoSansKR, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
  }

  &__checkbox {
    appearance: none;
    width: 22px;
    height: 12px;
    margin-right: 4px;
    box-sizing: border-box;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 6px;
    cursor: pointer;

    &::after {
      transition: all 150ms;
      content: "";
      width: 10px;
      height: 10px;
      background: #858585;
      border-radius: 50%;
      position: absolute;
    }

    &:checked {
      &::after {
        background: #175c8e;
        transform: translate(10px, 0);
      }
    }
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  @include media.media-breakpoint-down(mobile) {
    margin-top: 15px;
    align-items: flex-end;
  }

  &__text {
    font-size: 12px;
    color: #999999;
    padding: 0 16px;
    border-right: 1px solid #c4c4c4;
    cursor: pointer;

    @include media.media-breakpoint-down(mobile) {
      font-size: 13px;
      margin-left: 4px;
      padding: 0;
    }

    &:last-child {
      border: none;
    }
  }
}
