/* stylelint-disable property-no-vendor-prefix */
.template {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.logo {
  margin: auto;
}

.form {
  width: 368px;
  height: 360px;
  margin-top: 63px;
  display: flex;
  flex-direction: column;

  &__container {
    margin-bottom: 16px;
    position: relative;
    width: inherit;
  }

  &__input {
    width: 340px;
    height: 20px;
    padding: 14px;
    border: 1px solid #d2dae2;

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset; // 자동입력 배경 제거
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #999999;
    }
  }

  &__text {
    position: absolute;
    right: 16px;
    bottom: 14px;
    font-size: 14px;
    color: #252525;
    opacity: 1;

    &--null {
      opacity: 0.1;
    }
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 12px;
    border: none;
    background: none;
    padding: 0;
  }

  &__button {
    height: 48px;
    background-color: #175c8e;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border: none;
  }
}
