@use "src/utils/styles/mediaQuery" as media;

.email-check {
  &__label {
    display: block;
    font-size: 18px;
  }

  &__warn {
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 16px;
    gap: 7px;
    height: 11px;

    &--phrase {
      display: block;
      color: #f05d3d;
      font-size: 11px;
    }
  }

  &__input {
    width: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }

  .input {
    width: calc(100% - 32px);
    border: 1px solid #d2dae2;
    height: calc(48px - 30px);
    padding: 14px 16px;

    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      margin-top: 31px;
      padding: 0;
      padding-bottom: 8px;
      font-size: 15px;
      border: none;
      border-bottom: 1px solid #d2dae2;
      outline: none;

      &:focus {
        border-bottom: 1px solid #f7941e;
      }
    }

    &--code {
      width: calc(100% - 32px);
      border: 1px solid #d2dae2;
      height: calc(48px - 30px);
      padding: 14px 16px;
      margin-top: 8px;

      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }

      @include media.media-breakpoint-down(mobile) {
        width: 100%;
        margin-top: 31px;
        padding: 0;
        padding-bottom: 8px;
        font-size: 15px;
        border: none;
        border-bottom: 1px solid #d2dae2;
        outline: none;

        &:focus {
          border-bottom: 1px solid #f7941e;
        }
      }
    }
  }

  &__alert {
    display: block;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    color: #f7941e;
    font-size: 11px;

    @include media.media-breakpoint-down(mobile) {
      color: #dadada;
      margin: 11px 0 0;
      text-align: center;
    }
  }

  &__phrase {
    line-height: 24px;
    color: #a1a1a1;

    &--user-email {
      color: #f7941e;
    }
  }
}

.buttons {
  @include media.media-breakpoint-down(mobile) {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
  }
}

.button {
  margin-top: 18px;
}
