.mobile {
  &__container {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    color: #175c8e;
    font-size: 15px;
    font-weight: 500;

    &--complete {
      color: #175c8e;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 12px;
    }
  }

  &__header-condition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

    &:hover {
      cursor: pointer;
    }

    &__text {
      color: #a1a1a1;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
    }

    &__button {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      width: 16px;
      height: 16px;
    }
  }

  &__price-info-input-box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }

  &__price-info-inputs {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;

    &__size-input {
      width: 100%;
      height: 35px;
      border: 0.5px solid #898a8d;
      padding: 8px;
      box-sizing: border-box;

      &--disabled {
        width: 100%;
        height: 35px;
        border: 0.5px solid #898a8d;
        background-color: #c4c4c4;
        padding: 8px;
        box-sizing: border-box;
      }

      &::placeholder {
        color: #a1a1a1;
        font-size: 13px;
        font-weight: 400;
      }
    }

    &__price-input-box {
      position: relative;
      width: 100%;
    }

    &__price-input {
      width: 100%;
      height: 35px;
      border: 0.5px solid #898a8d;
      padding: 8px;
      box-sizing: border-box;
    }

    &__price-input-won {
      box-sizing: border-box;
      position: absolute;
      right: 8px;
      top: 32%;
      color: #a1a1a1;
      font-size: 13px;
      font-weight: 400;
    }
  }

  &__cancle-button {
    background-color: white;
  }

  &__cancle-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;

    &:hover {
      cursor: pointer;
    }
  }

  &__add-price-button {
    display: flex;
    margin-top: 16px;
    gap: 8px;
    background-color: white;

    &__icon {
      width: 12px;
      height: 12px;
    }

    &__text {
      color: #f7941e;
      font-size: 13px;
      font-weight: 700;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__price-info-text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
  }
}

.container {
  margin-top: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;

  &__title {
    color: #175c8e;
    font-size: 24px;
    font-weight: 500;
  }

  &__condition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17.5px;
  }

  &__condition-button {
    background-color: white;
  }

  &__condition-text {
    color: #a1a1a1;
    text-align: right;
    font-size: 20px;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }

  &__condition-icon {
    width: 21px;
    height: 21px;

    &:hover {
      cursor: pointer;
    }
  }
}

.price-info-input-box {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.price-info-inputs {
  display: flex;
  gap: 16px;
  align-items: center;

  &__size-input {
    box-sizing: border-box;
    width: 335px;
    height: 62px;
    border: 0.5px solid #858585;
    padding: 16px;
    color: #252525;
    font-size: 20px;
    font-weight: 500;
    outline: none;

    &--disabled {
      box-sizing: border-box;
      width: 335px;
      height: 62px;
      border: 0.5px solid #858585;
      padding: 16px;
      background-color: #c4c4c4;
      outline: none;
    }

    &::placeholder {
      color: #a1a1a1;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__price-input-box {
    position: relative;
    box-sizing: border-box;
    width: 335px;
    height: 62px;
    border: 0.5px solid #858585;
  }

  &__price-input {
    text-align: right;
    box-sizing: border-box;
    width: 303px;
    height: 60px;
    padding: 16px;
    color: #252525;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    outline: none;
  }

  &__price-input-won {
    position: absolute;
    top: 32%;
    right: 10px;
    color: #a1a1a1;
    font-size: 20px;
    font-weight: 400;
  }
}

.cancle-button {
  width: 24px;
  height: 24px;
  background-color: white;

  &__icon {
    width: 24px;
    height: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}

.add-price-button {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
  height: 28px;
  background-color: white;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    display: flex;
    align-items: center;
    color: #f7941e;
    font-size: 20px;
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
  }
}

.price-info-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
}
