@use "src/utils/styles/mediaQuery" as media;

.copyright {
  font-size: 12px;
  text-align: center;
  margin-bottom: 3vh;
  font-weight: 400;
  color: #252525;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
