@use "src/utils/styles/mediaQuery" as media;
@forward "src/utils/styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 1148px;

  @include media.media-breakpoint-down(mobile) {
    min-width: 320px;
    min-height: 100%;
  }
}

body,
html {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: NotoSansKR, sans-serif;
}

button {
  border: none;
  font-family: NotoSansKR, sans-serif;
}

a,
button {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
  color: #000;
}

ul {
  list-style: none;
}

.react-datepicker__header {
  width: 100% !important;
  background-color: #fff !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__day-names {
  width: 100% !important;
}

.react-datepicker__day-name {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.react-datepicker {
  border: none !important;
}

.react-datepicker div {
  border: none !important;
}
