.container {
  display: flex;
  flex-direction: column;
  font-family: Pretendard, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 10px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    color: #1f1f1f;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    width: 150px;

    &--none {
      font-size: 16px;

      @media screen and (max-width: 350px) {
        font-size: 14px;
      }
    }
  }

  &__image {
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--soldout {
      width: 150px;
      height: 100px;
      background: linear-gradient(0deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 50%) 100%);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: Pretendard, sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      gap: 4px;
    }

    &--add {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      gap: 4px;
      color: #8e8e8e;
    }
  }

  &__common-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    min-height: 120px;

    @media screen and (max-width: 350px) {
      gap: 10px;
    }
  }

  &__soldout {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__changed {
    width: 48px;
    height: 22px;
    border-radius: 4px;
    background-color: #eee;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b4b4b;
  }

  &__kcal {
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  font-family: Pretendard, sans-serif;

  &__header {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  &__header--primary {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #175c8e;
  }

  &__header--secondary {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #f7941e;
  }

  &__description {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    color: #8e8e8e;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
  }

  &__button {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #8e8e8e;
    cursor: pointer;
    font-family: Pretendard, sans-serif;
    font-size: 15px;
  }

  &__button--primary {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #175c8e;
    color: #ffffff;
    font-family: Pretendard, sans-serif;
    font-size: 15px;
  }

  &__button--secondary {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f7941e;
    color: #ffffff;
    font-family: Pretendard, sans-serif;
    font-size: 15px;
  }
}
