.container {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 1px 9px 1px rgb(0 0 0 / 6%);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    width: 150px;
  }

  &__image {
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
  }

  &__soldout-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 40px;
  }

  &__soldout {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 400;
  }
}
