@use "src/utils/styles/mediaQuery" as media;

.id-input {
  font-size: 12px;
}

.step-one {
  height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.agree-all {
  border-radius: 5px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 9px;

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #f5f5f5;
    color: #175c8e;
    padding: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    background-color: #f5f5f5;
  }
}

.personal {
  margin-top: 4px;
  height: 28vh;

  @include media.media-breakpoint-down(mobile) {
    height: 30vh;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    color: #8e8e8e;
    padding: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 5px;
    border: 1px dashed #d2dae2;
    padding: 12px;
    height: 20vh;
    overflow-y: scroll;
  }
}

.koin {
  margin-top: 4px;
  height: 28vh;

  @include media.media-breakpoint-down(mobile) {
    height: 30vh;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    color: #8e8e8e;
    padding: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 5px;
    border: 1px dashed #d2dae2;
    padding: 12px;
    overflow-y: scroll;
  }
}
