.info {
  position: relative;
  width: 100%;
  height: calc(100% - 32px);

  &__search {
    display: flex;
    align-items: center;
    width: 369px;
    height: 20px;
    padding: 9px 11px 9px 16px;
    background-color: #f6f8f9;
    border: 1px solid #d2dae2;
    margin: 32px 18px 24px 16px;
  }

  &__input {
    width: 369px;
    height: 100%;
    border: none;
    background-color: #f6f8f9;
    padding-right: 5px;

    &:focus {
      outline: none;
    }
  }

  &__search-button {
    cursor: pointer;
  }
}

.shop-list {
  display: flex;
  flex-direction: column;
  width: calc(100% - 34px);
  margin: 0 18px 0 16px;
  min-height: 530px;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 18px 16px;
  border: 2px solid #d2dae2;
  background-color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;

  &--selected {
    border: 2px solid #175c8e;
  }

  &__title {
    display: block;
    max-width: 220px;
    text-align: start;
    font-size: 15px;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    width: 160px;
    gap: 12px;
  }

  &__delivery {
    font-size: 12px;

    &--selected {
      color: #f7941e;
    }
  }

  &__pay-card {
    font-size: 12px;

    &--selected {
      color: #f7941e;
    }
  }

  &__pay-bank {
    font-size: 12px;

    &--selected {
      color: #f7941e;
    }
  }
}
