.button {
  &--large {
    font-size: 16px;
    width: 100%;
    background-color: #175c8e;
    color: #ffffff;
    border: none;
    height: 48px;

    &:hover {
      cursor: pointer;
    }
  }

  &--small {
    font-size: 14px;
    width: 80px;
    background-color: #175c8e;
    color: #ffffff;
    border: none;
    height: 48px;

    &:hover {
      cursor: pointer;
    }
  }

  &--mobile {
    width: 48%;
    height: 44px;
    font-weight: 500;
    font-size: 15px;
    background-color: #175c8e;
    color: #ffffff;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &--disable {
    background-color: #c4c4c4;
  }
}
