.container {
  display: flex;
  flex-direction: column;
  font-family: Pretendard, sans-serif;
  margin-top: 24px;
  gap: 10px;

  &__calendar {
    display: flex;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    padding-top: 24px;
    padding-bottom: 8px;
    gap: 10px;
    background-color: #fff;
  }

  &__week {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 400;
    padding: 0 16px;
  }

  &__date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 500;
    padding: 0 16px;

    &--future {
      color: #000;
    }

    &--today-font {
      color: #175c8e;
    }

    &--selected {
      display: flex;
      width: 28px;
      height: 28px;
      padding: 4px;
      margin: -8px;
      border-radius: 999px;
      background-color: #175c8e;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
    }

    &--today {
      display: flex;
      width: 28px;
      height: 28px;
      padding: 2px;
      margin: -7px;
      border: 1px solid #175c8e;
      border-radius: 999px;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
    }

    &--common {
      width: 20px;
      height: 20px;
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }

  &__today--border {
    display: flex;
    border-color: #175c8e;
    width: 12px;
    margin-top: 10px;
    border-bottom: 2px solid #175c8e;
  }

  &__common--border {
    display: flex;
    border-color: none;
    margin-top: 10px;
    border-bottom: 2px solid none;
  }
}

.cursor-pointer {
  cursor: pointer;
}
