.warn {
  display: flex;
  align-items: center;
  margin-top: 9px;
  padding-bottom: 16px;
  gap: 7px;
  height: 11px;

  &--phrase {
    display: block;
    color: #f05d3d;
    font-size: 11px;
  }
}
