.terms_check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;

  .check_all {
    display: flex;
    align-items: center;
  }

  .checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #d2dae2;
    border-radius: 100%;
    background-size: cover;

    &:checked {
      border: none;
      background-image: url("../../../../assets/svg/auth/checkbox.svg");
    }
  }

  &::after {
    display: block;
    width: 100%;
    content: "";
    border-top: 1px solid #eeeeee;
    margin-top: 24px;
  }
}

.check_wrapper {
  display: flex;
  align-items: center;
}
