@use "src/utils/styles/mediaQuery" as media;

.form {
  &__label {
    display: block;
    font-size: 18px;
  }

  &__alert {
    display: block;
    height: 11px;
    color: #858585;
    font-size: 11px;
    margin-top: 9px;

    // @include media.media-breakpoint-down(mobile) {
    //   margin: 0;
    // }
  }

  &__warn {
    display: flex;
    align-items: center;
    margin-top: 9px;
    gap: 7px;
    height: 11px;

    &--phrase {
      display: block;
      color: #f05d3d;
      font-size: 11px;
    }
  }
}

.input-block {
  display: flex;
  width: calc(100% - 2px);
  gap: 16px;
  justify-content: space-between;
  margin-top: 8px;

  @include media.media-breakpoint-down(mobile) {
    align-items: end;
  }

  &__input {
    width: calc(100% - 32px - 80px);
    border: 1px solid #d2dae2;
    height: calc(48px - 30px);
    padding: 14px 16px;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      padding: 0;
      padding-bottom: 8px;
      font-size: 15px;
      border: none;
      border-bottom: 1px solid #d2dae2;
      outline: none;

      &:focus {
        border-bottom: 1px solid black;
      }
    }
  }
}
